@font-face {
    font-family: yandex-sans-display;
    font-weight: 400;
    src: url('../fonts/Yandex Sans/Yandex Sans Display-Regular.ttf');
}
@font-face {
    font-family: yandex-sans-display;
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/Yandex Sans/Yandex Sans Display-Regular Italic.ttf');
}
@font-face {
    font-family: yandex-sans-display;
    font-weight: 200;
    src: url('../fonts/Yandex Sans/Yandex Sans Display-Light.ttf');
}
@font-face {
    font-family: yandex-sans-display;
    font-weight: 700;
    src: url('../fonts/Yandex Sans/Yandex Sans Display-Bold.ttf');
}

@font-face {
    font-family: yandex-sans;
    font-weight: 400;
    src: url('../fonts/Yandex Sans/Yandex Sans Text-Regular.ttf');
}
@font-face {
    font-family: yandex-sans;
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/Yandex Sans/Yandex Sans Text-Regular Italic.ttf');
}
@font-face {
    font-family: yandex-sans;
    font-weight: 200;
    src: url('../fonts/Yandex Sans/Yandex Sans Text-Light.ttf');
}
@font-face {
    font-family: yandex-sans;
    font-weight: 700;
    src: url('../fonts/Yandex Sans/Yandex Sans Text-Bold.ttf');
}